.showLessonContainer{
    overflow: auto;
}

#show-lesson-con .page{
    background-color: white;
}


#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.295);
  }

.studentLessonMainContainer{
    margin-bottom: 5em;
    padding: 1.5em;
    /* box-shadow: 0px 0px 10px var(--primary); */
    border-radius: 70px;
    border: 2px dotted var(--primary);
    box-sizing: border-box;
    transition: all 1s;
}

.studentLessonMainContainer:hover{
    border: 2px dotted transparent;
    box-shadow: 0px 0px 40px var(--primary);
}

.nextLessonFromPage,
.nextLessonToPage,
.nextLessonToChapter,
.nextLessonFromChapter{
    font-size: 1.5rem;
}

.nextLessonFromPage,
.nextLessonToPage{
    cursor: pointer;
}