.showLessonContainer{
    overflow: auto;
}

#show-lesson-con .page{
    background-color: white;
}


#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.295);
  }

.studentLessonContainer{
    margin-bottom: 2em;
    padding: 1.5em;
    box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.75);
    border-radius: 20px;
}