.links--ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

table tbody tr td {
    text-align: center;
}

.timeline-alter .editExperienceButton:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0055FF;
}